body{
    display: grid;
    
    place-items: center;
}
.container{
    height: 70vh;
    width: 50vw;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.container *{
  
    color: white;
}
.header{
    width: 100%;
    flex: 0.2;
    height: 40px;
    background: red;
    /* margin-bottom: 10px; */
}
.small_box{
    width: 32%;
    height: 36%;
    align-self: flex-start;
    background: red;
    /* margin-bottom: 10px; */
}
.article{
    
    width: 100%;
    flex: 0.55;
    display: flex;
    
}
.article_content{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 70%;
    justify-content: space-between;
    margin-right: 10px;
}
.sidebar{
    width: 30%;
    height: 100%;
    background: red;
    /* margin-bottom: 10px; */
}
.main_content{
    width: 100%;
    height: 61%;
    align-self: flex-end;
    /* margin-bottom: 10px; */
    background-color: red;
}
.footer{
    width: 100%;
    flex: 0.2;
    background: red;
   
}
